* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato','Arial','sans-serif';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}
header {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/hero.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1,h2,h3 {
    font-weight: 300;
    text-transform: uppercase;
    
}

h1 {
    margin: 0;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    letter-spacing: 1px;
}

h2:after {
    content: " ";
    display: block;
    background-color: #4CAF50;
    height: 2px;
    width: 100px;
    margin: 30px auto;
}

h3 {
    font-size: 110%;
    word-spacing: 2px;
    margin-bottom: 15px;
    text-align: center;
}

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 40px;
}

.box {
    padding: 1%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
    text-align: justify;
}

.icon-big {
    font-size: 300%;
    color: #4CAF50;
    display: block;
    margin-bottom: 15px;
    text-align: center;
}

.icon-small {
    font-size: 90%;
    width: 30px;
    color: #4CAF50;
    display: inline-block;
    line-height: 120%;
    vertical-align: baseline;
}

header .header-text-box {
    position: absolute;
    width: 1140px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.btn:link,
.btn:visited,
input[type=submit] {
    color:#fff;
    text-decoration: none;
    border-radius: 200px;
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    transition: background-color 0.2s,border 0.2s,color 0.2s;
}

.btn-primary,
input[type=submit] {
    border: 1px solid #4CAF50;
    background-color: #4CAF50;
    margin-right: 15px;
}

.btn-default:link,.btn-default:visited {
    color:#4CAF50;
    border: 1px solid #4CAF50;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #388E3C;
}

.btn-primary:hover,
.btn-primary:active,
input[type=submit]:hover,
input[type=submit]:active {
    border: 1px solid #388E3C;
}

.btn-default:hover,
.btn-default:active {
    border: 1px solid #388E3C;
    color:#fff;
}

.logo {
    margin-top: 20px;
    float: left;
    height: 100px;
    width: auto;
}
.main-nav {
    margin-top: 55px;
    float: right;
    list-style: none;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    text-decoration: none;
    color: #fff;
    font-size: 90%;
    text-transform: uppercase;
    transition: border-bottom 0.2s;
    border-bottom: 2px solid transparent;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #388E3C; 
}


a:link,
a:visited {
    color:#4CAF50;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #4CAF50;
    transition: border-bottom 0.2s,color 0.2s;
}

a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
}
.section-meals {
    padding: 0;
}
.meals-showcase {
    list-style: none;
    width: 100%;
    margin: 0;
}

.meals-showcase li {
    display: block;
    float: left;
    width:25%;
}

.meals-showcase li figure {
    width: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    background-color: #000;
}
.meals-showcase li img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
    display:block;
}

.meals-showcase li img:hover {
    opacity: 1;
    transform: scale(1);
}

.clearfix:after {
    content:'.';
    clear:both;
    display: block;
    visibility: hidden;
    height: 0;
}

.steps-box:first-child {
    margin-top: 30px;
    text-align: center;
}

.steps-box:last-child {
    margin-top: 80px;
}

.app-screen {
    width: 40%;
}

.works-step {
    margin-bottom:50px;
}
.works-step div{
    color: #4CAF50;
    border: 2px solid #4CAF50;
    display: inline-block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    float: left;
    text-align: center;
    padding: 5px;
    font-size: 150%;
    margin-right: 25px;
}

.works-step:last-of-type {
    margin-bottom: 100px;
}

.btn-app:link {
    border:0;
}
.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 20px;
}

.section-steps {
    background-color: #f4f4f4;
}

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.city-feature {
    margin-bottom: 5px;
}

.section-testimonials {
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(images/back-customers.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;

}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

blockquote:before {
    content: "\201c";
    font-size: 500%;
    position: absolute;
    top:-5px;
    left: -5px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

cite img {
    border-radius:50%;
    height: 45px;
    vertical-align: middle;
    margin-right: 4%;
}

.section-plans {
    background-color: #f4f4f4;
}

.plan-box {
    background-color: #fff;
    border-radius: 5px;
    width:90%;
    margin-left: 5%;
    box-shadow: 0 2px 2px #e8e8e8;
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}

.plan-box div:first-child {
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.plan-box div:last-child {
    text-align: center;
    border-bottom: 0;
}

.plan-price {
    font-size: 300%;
    font-weight: 100;
    margin-bottom: 10px;
    color:#4CAF50;   
}

.plan-price span {
    font-size: 30%;
    font-weight: 300;
}

.plan-price-meal {
    font-size: 80%;
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
}

.contact-from {
    width:60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
textarea,
select {
    width:100%;
    padding: 7px;
    border-radius:3px;
    border:1px solid #ccc;
}

*:focus {
    outline: 0.5px solid #ccc;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

footer {
    background-color: #333;
    padding:10px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}
.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    color: #888;
    border-bottom: 0;
    text-decoration: none;
    transition: color 0.2s;
}

.social-links li a {
    font-size: 160%;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.fa-facebook,
.fa-google-plus,
.fa-twitter,
.fa-instagram {
    transition: color 0.2s, transform 0.8s;
}

.fa-facebook:hover,
.fa-google-plus:hover,
.fa-twitter:hover,
.fa-instagram:hover {
    transform: rotate(360deg);
}

.fa-facebook:hover,
.fa-facebook:active {
    color: #4267b2;
}

.fa-google-plus:hover,
.fa-google-plus:active {
    color: #db4437;
}

.fa-twitter:hover,
.fa-twitter:active {
    color: #1da1f2;
}

.fa-instagram:hover,
.fa-instagram:active {
    color: #b2398e;
}

footer p {
    margin-top: 10px;
    text-align: center;
    color: #888;
}

.sticky {
    background-color:rgba(255,255,255,0.98);
    color:#555;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    box-shadow: 0 2px 2px #efefef;
    z-index:9999;
    margin-bottom: 20px;
}

.sticky .main-nav {
    margin-top:15px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 8px 0;
    text-decoration: none;
    color: #555;
}

.logo-black {
    margin: 5px 0;
    float: left;
    height: 50px;
    width: auto;
    display: none;
}

.sticky .logo {
    display:none;
}

.sticky .logo-black {
    display: block;
}

.js-wp-1,
.js-wp-2 {
    opacity: 0;
}

.js-wp-1 .animated,
.js-wp-1 .animated {
    opacity: 1;
}

.mobile-menu-icon{
    display:none;
    font-size: 200%;
    color: #fff;
    border-bottom:0;
    margin-top:25px;
}

.mobile-menu-icon:focus{
    outline:0;
}