.root {
    display: flex;
    align-items: center;
    margin: 10px auto;
}

.input,.input:focus {
    width: 350px;
    height: 40px;
    outline:none;
    border:none;
    border-bottom: 1px solid #d3d3d3;
    border-radius: 3px;
    margin-right: 20px;
    font-size: 20px;
    padding:10px;
    color: #888;
}

.input:focus {
    border-bottom: 1px solid #1ed777
}

.button {
    background-color: #FF3D00;
    height: 40px;
    width: 100px;
    border-radius:1px;
    color:#fff;
    border:1px solid #DD2C00;
}